<div class="flex flex-col gap-y-3">
  <% if @profile %>
    <h1 class="font-bold text-8xl"> Edit Profile </h1>


    <h3 class="font-bold text-6xl first-letter:text-rose-500"><%= @profile.username %></h3>

    <div class="flex flex-col items-stretch gap-2">
      <%= form_tag profiles_update_path(@profile), :method => :put, multipart: true do %>
        <div class="flex flex-col items-stretch gap-2">
          <div class="p-3 border-2 border-amber-700 rounded-lg bg-orange-100 flex flex-col items-stretch">
            <h3 class="font-bold text-4xl">Change Profile Photo</h3>
            <br/>
            <% if @profile.profile_photo.attached? %>
              <image src = "<%=(url_for(@profile.profile_photo)) %>" class="h-96 mx-auto rounded-full">
            <% end%>
            <br/>
            <%= file_field_tag :profile_photo %>
          </div>


          <div class="p-3 border-2 border-amber-700 rounded-lg bg-orange-100 flex flex-col items-stretch">
            <h3 class="font-bold text-4xl">Edit Bio</h3>
            <br/>
            <%= label :profile, :bio, 'Bio', class: "invisible absolute" %>
            <%= text_area :profile, 'bio', rows: 5, class: "bg-blue-100 text-blue-900 rounded" %>
          </div>
          <div class="p-3 border-2 border-amber-700 rounded-lg bg-orange-100">
            <h3 class="font-bold text-4xl">Edit Date of Birth</h3>
            <br/>
            <%= label :profile, :date_of_birth, 'Birth date', class: "invisible absolute"  %>
            <%= date_select :profile, :date_of_birth, start_year: 1900, end_year: Date.current.year, include_blank: true, with_css_classes: {day: "bg-blue-100 text-blue-900 rounded", month: "bg-blue-100 text-blue-900 rounded", year: "bg-blue-100 text-blue-900 rounded"} %>
          </div>

          <div class="flex flex-row sticky bottom-5 ml-3">
            <%= submit_tag 'Save profile', class:"bg-amber-500 hover:bg-amber-600 text-white font-bold py-2 px-4 mr-6 rounded focus:outline-none focus:shadow-outline cursor-pointer" %>
            <%= link_to 'Cancel', profiles_index_path, class:"bg-gray-400 hover:bg-gray-500 text-white font-bold py-2 px-4 mr-6 rounded focus:outline-none focus:shadow-outline"%>
          </div>
        </div>
      <% end %>

      <div class="p-3 border-2 border-amber-700 rounded-lg bg-orange-100 flex flex-col items-stretch">
        <h3 class="font-bold text-4xl">Edit Profile Tags</h3>
        <br/>
        <div class="flex flex-wrap gap-2">
          <% @profile.tags.each do |tag| %>
            <span id="badge-dismiss-default" class="inline-flex items-center py-1 px-2 text-sm font-medium text-blue-900 bg-blue-100 rounded dark:bg-blue-200 dark:text-blue-900">
              <%= tag.name %>
              <%= button_to profile_tag_path(tag), method: :delete, id: tag.name, authenticity_token: true,
                class: "inline-flex items-center p-0.5 ml-2 text-sm text-blue-400 bg-transparent rounded-sm hover:bg-blue-200 hover:text-blue-900 dark:hover:bg-blue-300 dark:hover:text-blue-900" do %>
                ✕
                <span class="sr-only">Remove badge</span>
              <% end %>
            </span>
          <% end%>
        </div>
        <br/>
        <%= form_tag profile_tags_update_path(@profile), :method => :put, multipart: true do %>
          <%= select_tag(:id, options_from_collection_for_select(@available_tags, :id, :name), include_blank: "Add New Tag", class: "bg-blue-100 text-blue-900 rounded")%>
          <%= submit_tag 'Add Tag', class:"bg-amber-500 hover:bg-amber-600 text-white font-bold py-2 px-4 mr-6 rounded focus:outline-none focus:shadow-outline cursor-pointer" %>
        <% end %>
      </div>

      <div class="p-3 border-2 border-amber-700 rounded-lg bg-orange-100">
        <h3 class="font-bold text-4xl">Edit Artworks</h3>
        <% @profile.artworks.each do |art| %>
          <li class="list-none flex justify-between items-center bg-blue-100 rounded mt-5 p-3 border-2 border-blue-700">
            <h4 class="font-bold text-xl text-blue-900" > <%= art.title %> </h4>
            <%= button_to 'Delete', art, method: :delete, class:"bg-red-400 hover:bg-red-500 font-bold py-2 px-4 rounded text-center focus:outline-none focus:shadow-outline"%>
          </li>
        <% end%>
      </div>
      <div class="p-3 border-2 border-amber-700 rounded-lg bg-orange-100">
        <h3 class="font-bold text-4xl">Edit Events</h3>
        <% @profile.events.each do |event| %>
          <li class="list-none flex justify-between items-center bg-blue-100 rounded mt-5 p-3 border-2 border-blue-700">
            <h4 class="font-bold text-xl text-blue-900" > <%= event.title %> </h4>
            <%= button_to 'Delete', event, method: :delete, class:"bg-red-400 hover:bg-red-500 font-bold py-2 px-4 rounded text-center focus:outline-none focus:shadow-outline"%>
          </li>
        <% end%>
      </div>
    </div>
  <% else %>
    <h1 class="font-bold text-4xl">User does not exist!</h1>
  <% end %>
</div>