<div class="flex flex-col gap-y-3">
  <% if @profile %>
    <h1 class="font-bold text-8xl"> Edit Profile </h1>

    <br/>

    <h3 class="font-bold text-4xl"><%= @profile.username %></h3>




      <div class="flex flex-col items-stretch gap-2">
        <div class="p-3 border-2 border-amber-700 rounded-lg bg-orange-100 flex flex-col items-stretch">
          <h3 class="font-bold text-4xl">Edit Profile Tags</h3>

          <% @tags.each do |tag| %>
            <span id="badge-dismiss-default" class="inline-flex items-center py-1 px-2 mr-2 text-sm font-medium text-blue-800 bg-blue-100 rounded dark:bg-blue-200 dark:text-blue-800">
              <%= tag.tag_name %>
              <button type="button" class="inline-flex items-center p-0.5 ml-2 text-sm text-blue-400 bg-transparent rounded-sm hover:bg-blue-200 hover:text-blue-900 dark:hover:bg-blue-300 dark:hover:text-blue-900" data-dismiss-target="#badge-dismiss-default" aria-label="Remove">
                <%= button_to profile_tag_path(tag), method: :delete, authenticity_token: true, class: "" do %>
                  <svg aria-hidden="true" class="w-3.5 h-3.5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  <span class="sr-only">Remove badge</span>
                <% end %>
              </button>
            </span>
          <% end%>

          <%= form_tag profile_tags_update_path(@profile), :method => :put, multipart: true do %>

          <%= select_tag(:tag_id, options_from_collection_for_select(@available_tags, :id, :tag_name), include_blank: "Add New Tag")%>
          <%= submit_tag 'Add Tag', class:"bg-gray-400 hover:bg-gray-500 text-white font-bold py-2 px-4 mr-6 rounded focus:outline-none focus:shadow-outline cursor-pointer" %>
        </div>
    <% end %>
    <%= form_tag profiles_update_path(@profile), :method => :put, multipart: true do %>
      <div class="flex flex-col items-stretch gap-2">
        <div class="p-3 border-2 border-amber-700 rounded-lg bg-orange-100 flex flex-col items-stretch">
          <h3 class="font-bold text-4xl">Change Profile Photo</h3>
          <br/>
          <% if @profile.profile_photo.attached? %>
            <image src = "<%=(url_for(@profile.profile_photo)) %>">
          <% end%>
          <br/>
          <%= file_field_tag :profile_photo %>
        </div>


          <div class="p-3 border-2 border-amber-700 rounded-lg bg-orange-100 flex flex-col items-stretch">
            <h3 class="font-bold text-4xl">Edit Bio</h3>
            <br/>
            <%= label :profile, :bio, 'Bio', class: "invisible absolute" %>
            <%= text_area :profile, 'bio' %>
          </div>
          <div class="p-3 border-2 border-amber-700 rounded-lg bg-orange-100">
            <h3 class="font-bold text-4xl">Edit Date of Birth</h3>
            <br/>
            <%= label :profile, :date_of_birth, 'Birth date', class: "invisible absolute"  %>
            <%= date_select :profile, :date_of_birth, start_year: 1900, end_year: Date.current.year, include_blank: true %>
          </div>

          <div class="flex flex-row">
            <%= submit_tag 'Update Profile Info', class:"bg-gray-400 hover:bg-gray-500 text-white font-bold py-2 px-4 mr-6 rounded focus:outline-none focus:shadow-outline cursor-pointer" %>
            <%= link_to 'Cancel', profiles_index_path, class:"bg-gray-400 hover:bg-gray-500 text-white font-bold py-2 px-4 mr-6 rounded focus:outline-none focus:shadow-outline"%>
          </div>
      </div>
    <% end %>

    <div class="p-3 border-2 border-amber-700 rounded-lg bg-orange-100">
      <h3 class="font-bold text-4xl">Edit Artworks</h3>
      <br/>
      <% @profile.artworks.each do |art| %>
        <li class="list-none mb-3 flex justify-between">
          <h4 class="font-bold text-xl" > <%= art.title %> </h4>
          <%= button_to 'Delete', art, method: :delete, class:"bg-gray-400 hover:bg-gray-500 text-white font-bold py-2 px-4 mr-6 rounded focus:outline-none focus:shadow-outline"%>
        </li>
      <% end%>
    </div>
    <div class="p-3 border-2 border-amber-700 rounded-lg bg-orange-100">
      <h3 class="font-bold text-4xl">Edit Events</h3>
      <br/>
      <% @profile.events.each do |event| %>
        <li class="list-none mb-3 flex justify-between">
          <h4 class="font-bold text-xl" > <%= event.title %> </h4>
          <%= button_to 'Delete', event, method: :delete, class:"bg-gray-400 hover:bg-gray-500 text-white font-bold py-2 px-4 mr-6 rounded focus:outline-none focus:shadow-outline"%>
        </li>
      <% end%>
    </div>

  <% else %>
    <h1 class="font-bold text-4xl">User does not exist!</h1>
  <% end %>
</div>