<div>
  <h1 class="font-bold text-8xl"><%= @profile.username %></h1>

  <br/>

  <div class="grid grid-cols-2 gap-4">
    <span class=" h-40 bg-sky-400 hover:bg-sky-500 text-sky-900 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline text-2xl flex justify-center items-center text-center">
    <%= link_to  '👀 View Public Profile', profiles_path(@profile.id), :method => :get %>
    </span>
    <span class=" h-40 bg-sky-400 hover:bg-sky-500 text-sky-900 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline text-2xl flex justify-center items-center text-center">
    <%= link_to  '🖊 Edit Profile', profiles_edit_path, :method => :get %>
    </span>
    <span class=" h-40 bg-sky-400 hover:bg-sky-500 text-sky-900 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline text-2xl flex justify-center items-center text-center">
    <%= link_to  '🎨 Add Artwork', new_artwork_path, :method => :get %>
    </span>
    <span class=" h-40 bg-sky-400 hover:bg-sky-500 text-sky-900 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline text-2xl flex justify-center items-center text-center">
    <%= link_to  '🎉 Add Event', new_event_path, :method => :get %>
    </span>
  </div>
</div>
