<div>
  <% if @profile %>
    <h1 class="font-bold text-8xl"> <%= @profile.username %> </h1>

    <br/>

    <br/>
    <% if @profile.profile_photo.attached? %>
      <image src = "<%=(url_for(@profile.profile_photo)) %>">
    <% end%>
    <div class="flex flex-col items-stretch gap-y-4">
      <div class="p-3 border-2 border-amber-700 rounded-lg bg-orange-100">
        <h3 class="font-bold text-4xl">About <%= @profile.username %></h3>
        <br/>
        <p><%= @profile.bio %></p>
        <h3>Tags go here</h3>
      </div>


      <div class="p-3 border-2 border-amber-700 rounded-lg bg-orange-100">
        <h3 class="font-bold text-4xl"><%= @profile.username %>'s Art</h3>
        <br/>
        <% @profile.artworks.each do |art| %>
          <li class="list-none mb-3">
            <h4 class="font-bold text-xl" > <%= art.title %> </h4>
            <% if art.link%>
              <%= link_to nil, art.link, target: :_blank, class: "no-underline hover:underline text-blue-600 hover:text-blue-800 visited:text-purple-600"%>
            <% end%>
            <% if art.art_image%>
              <image src = "<%=(url_for(art.art_image)) %>">
            <% end%>
            <p> <%= art.description %> </p>
          </li>
        <% end%>
      </div>
      <div class="p-3 border-2 border-amber-700 rounded-lg bg-orange-100">
        <h3 class="font-bold text-4xl"><%= @profile.username %>'s Events</h3>
        <br/>
        <% @profile.events.each do |event| %>
          <li class="list-none mb-3">
            <h4 class="font-bold text-xl" > <%= event.title %> </h4>
            <% if event.date%>
              <p> Date : <%= event.date.strftime('%F') %> </p>
            <% end%>
            <% if !event.location.blank? %>
              <p> Location : <%= event.location %> </p>
            <% end%>
          </li>
        <% end%>
      </div>
    </div>
  <% else %>
    <h1 class="font-bold text-4xl">User does not exist!</h1>
  <% end %>
</div>


