<div>
  <h1 class="font-bold text-8xl"> Add new artwork </h1>

  <br/>
  <br/>

  <%= form_tag artworks_path, :method => :post do %>
    <div class="flex flex-col items-stretch gap-2">
        <div class="p-3 border-2 border-amber-700 rounded-lg bg-orange-100 flex flex-col items-stretch">
          <h3 class="font-bold text-4xl">Title</h3>
          <br/>
          <%= label :artwork, :title, 'Title', class: "invisible absolute" %>
          <%= text_field :artwork, 'title' %>
        </div>
        <div class="p-3 border-2 border-amber-700 rounded-lg bg-orange-100 flex flex-col items-stretch">
          <h3 class="font-bold text-4xl">Link</h3>
          <br/>
          <%= label :artwork, :link, 'Link', class: "invisible absolute" %>
          <%= text_field :artwork, 'link' %>
        </div>
        <div class="p-3 border-2 border-amber-700 rounded-lg bg-orange-100 flex flex-col items-stretch">
          <h3 class="font-bold text-4xl">Description</h3>
          <br/>
          <%= label :artwork, :description, 'Description', class: "invisible absolute" %>
          <%= text_area :artwork, 'description' %>
        </div>

        <div class="flex flex-row">
          <%= submit_tag 'Add art!', class:"text-amber-900 bg-amber-500 hover:bg-amber-600 text-white font-bold py-2 px-4 mr-6 rounded focus:outline-none focus:shadow-outline cursor-pointer" %>
          <%= link_to 'Cancel', profiles_index_path, class:"bg-gray-400 hover:bg-gray-500 text-white font-bold py-2 px-4 mr-6 rounded focus:outline-none focus:shadow-outline"%>
        </div>
    </div>
  <% end %>
</div>