<h2>Chat</h2>

<div class='column'>
    <% @messages.each do |message| %>
        <div>
            <span>
            <%= message[:msg] %>
            </span>       
            <span>
            (<%= message[:from_profile] ? 'Me' : message[:sender] %>)      
            </span>
        </div>
    <% end %>
</div>

<%= form_tag chats_messages_path(chat_id: @chat.id), :class => 'form-horizontal' do %>
    <%= text_field :chats_message, :msg, :class => 'form-control' %>
    <%= submit_tag 'Send', :class => 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
<% end %>
