<h1 class="font-bold text-8xl"> <%= @name %> - Chat </h1>

<% if !@isCollective %>
  <%= button_to 'Delete', chat_path(@chat), method: :delete, class:"bg-red-400 hover:bg-red-500 font-bold py-2 px-4 rounded text-center focus:outline-none focus:shadow-outline"%>
<% else %>
  <%= button_to  'View Collective', collective_path(@collective), :method => :get, class: "bg-sky-400 hover:bg-sky-500 text-sky-900 font-bold py-2 px-4 rounded text-center focus:outline-none focus:shadow-outline", :id => 'collective' %>
<% end %>

<br/>
<br/>

<div class="flex flex-col gap-y-1 max-w-2xl mx-auto">
  <% @messages.each do |message| %>

    <% if message[:from_profile] %>
      <div class="ml-auto p-3 border-2 border-sky-700 rounded-3xl rounded-br-none bg-sky-100 flex flex-col">
          <div class="text-xl">
            <%= message[:msg] %>
          </div>       
          <div class="text-sm">
            (Me)
          </div>
      </div>
    <% end %>
    <% if !message[:from_profile] %>
      <div class="mr-auto p-3 border-2 border-amber-700 rounded-3xl rounded-bl-none bg-orange-100 flex flex-col">
          <div class="text-xl">
            <%= message[:msg] %>
          </div>       
          <div class="text-sm">
            (<%= message[:sender] %>)   
          </div>
      </div>
    <% end%>

  <% end %>

  <br />

  <%= form_tag chats_messages_path(chat_id: @chat.id), :class => 'form-horizontal' do %>
      <%= text_field :chats_message, :msg, :class => 'form-control bg-blue-100 text-blue-900 rounded w-3/4' %>
      <%= submit_tag 'Send', :class => 'bg-amber-500 hover:bg-amber-600 text-white font-bold py-2 px-4 mr-6 rounded focus:outline-none focus:shadow-outline cursor-pointer' %>
  <% end %>
</div>
