<div>
  <h1 class="font-bold text-8xl"> Add a new collective artwork </h1>

  <br/>
  <br/>

  <%= form_tag create_collective_artworks_path(collective_id: @collective_id), :method => :post, multipart: true do %>
    <div class="flex flex-col items-stretch gap-2">
        <div class="p-3 border-2 border-amber-700 rounded-lg bg-orange-100 flex flex-col items-stretch">
          <h3 class="font-bold text-4xl mb-3">Title</h3>
          <%= label :artwork, :title, 'Title', class: "invisible absolute" %>
          <%= text_field :artwork, 'title', class: "bg-blue-100 text-blue-900 rounded" %>
        </div>
        <div class="p-3 border-2 border-amber-700 rounded-lg bg-orange-100 flex flex-col items-stretch">
          <h3 class="font-bold text-4xl mb-3">Link</h3>
          <%= label :artwork, :link, 'Link', class: "invisible absolute" %>
          <%= text_field :artwork, 'link', class: "bg-blue-100 text-blue-900 rounded" %>
        </div>
        <div class="p-3 border-2 border-amber-700 rounded-lg bg-orange-100 flex flex-col items-stretch">
          <h3 class="font-bold text-4xl mb-3">Description</h3>
          <%= label :artwork, :description, 'Description', class: "invisible absolute" %>
          <%= text_area :artwork, 'description', rows: 4, class: "bg-blue-100 text-blue-900 rounded" %>
        </div>
        <div class="p-3 border-2 border-amber-700 rounded-lg bg-orange-100 flex flex-col items-stretch">
          <h3 class="font-bold text-4xl mb-3">Upload Image</h3>
          <%= file_field_tag :art_image %>
        </div>

        <div class="flex flex-row">
          <%= submit_tag 'Add art!', class:"text-amber-900 bg-amber-500 hover:bg-amber-600 text-white font-bold py-2 px-4 mr-6 rounded focus:outline-none focus:shadow-outline cursor-pointer" %>
          <%= link_to 'Cancel', profiles_index_path, class:"bg-gray-400 hover:bg-gray-500 text-white font-bold py-2 px-4 mr-6 rounded focus:outline-none focus:shadow-outline"%>
        </div>
    </div>
  <% end %>
</div>
