<!DOCTYPE html>
<html>
  <head>
    <title>Dali</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex flex-col">
    <% if current_user %>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class:"bg-gray-400 hover:bg-gray-500 text-white font-bold py-2 px-4 mr-6 rounded focus:outline-none focus:shadow-outline ml-auto"  %>
    <% end %>
      <div class="w-full mx-auto align-middle">
        <% if notice %>
          <p class="w-full mx-auto align-middle bg-green-400"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="w-full mx-auto align-middle bg-red-400"><%= alert %></p>
        <% end %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
