<!DOCTYPE html>
<html>
  <head>
    <title>Dali</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-rose-100">
    <main class="container mx-auto px-5 py-10 flex flex-col ">
      <div class="w-full mx-auto align-middle mb-3">
        <% if notice %>
          <p class="w-full mx-auto align-middle bg-green-400 p-2"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="w-full mx-auto align-middle bg-red-400 p-2"><%= alert %></p>
        <% end %>
      </div>
      <div class="flex items-start">
        <% if current_user %>
          <div class="flex flex-col gap-y-3 items-stretch mr-10 ml-2 sticky top-3">
            <div class="text-amber-900 bg-amber-500 hover:bg-amber-600 font-bold py-2 px-4 rounded-full text-center focus:outline-none focus:shadow-outline">
              <%= link_to "Profile", profiles_index_path, :method => :get %>
            </div>
            <div class="text-amber-900 bg-amber-500 hover:bg-amber-600 font-bold py-2 px-4 rounded-full text-center focus:outline-none focus:shadow-outline">
              <%= link_to "Swipe", swipes_path, :method => :get %>
            </div>
            <div class="text-amber-900 bg-amber-500 hover:bg-amber-600 font-bold py-2 px-4 rounded-full text-center focus:outline-none focus:shadow-outline">
              <%= link_to "Matches", friends_path, :method => :get %>
            </div>
            <div class="text-amber-900 bg-amber-500 hover:bg-amber-600 font-bold py-2 px-4 rounded-full text-center focus:outline-none focus:shadow-outline">
              <%= link_to "Chat", chats_path, :method => :get %>
            </div>
            <div class="bg-red-600 hover:bg-red-700 font-bold py-2 px-4 rounded-full text-center focus:outline-none focus:shadow-outline">
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
            </div>
          </div>
        <% end %>
        <div>
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
